<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="content">
        <h1>Welcome to the System</h1>
        <div class="Box">
            <div class="button">
                <form method="POST">
                    </br>
                    </br>
                    </br>
                    <a>UserName</a>
                    </br>
                    <input id="round" type="text" aria-label="First name" class="form-control" placeholder="UserName" ,
                        name="Username">
                    </br>
                    </br>
                    <a>Password</a>
                    </br>
                    <input id="round" aria-label="Last name" class="form-control" placeholder="Password" ,
                        name="Password" , type="Password">
                    </br>
                    </br>
                    <input id="submit" type="Submit" class="btn btn-dark" value="Login"></input>
                </form>
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>
    </br>
</body>

</html>